@keyframes bouncing {
  to {
    opacity: 0.8;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
